.carinfo-wrapper {
    width: 55vw;
}

.b-l {
    border-left: 1px solid #777;
    padding-left: 1.8rem;
}

.b-btn {
    border-bottom: 1px solid #21304d;
}
.car-body-stat {
    position: absolute;
    top: 30px;
    right: 30px;
    direction: rtl;
    width: 40vw;
    /* z-index: 9; */
}

.ios-glass-theme li {
    border-color: #fff !important;
}
.ios-glass-theme ul div {
    border-color: #fff !important;
}
@media (min-width: 800px) {
    .info-btn {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .car-body-stat {
        width: 85vw;
        top: auto;
        right: auto;
        bottom: 135px;
        right: 20px;
    }
    .open_modal {
        width: 90vw !important;
        z-index: 999;
    }
    .info-btn {
        /* width: 80%; */
        margin-left: auto;
    }
}
