.seat-map {
  position: fixed;

  z-index: 100;

  overflow-y: hidden;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  transition: width 0.3s ease, height 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 3px;
  position: absolute;
  top: 5.3rem;
  left: 1.5rem;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  background: #00000097;
  padding-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.floor-section {
  width: fit-content;
}
.floor-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: end;
}

.subsection-left,
.subsection-right,
.subsection-center {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.seat-map.expanded {
  width: 90%;
  height: auto;
  max-height: 75%;
  padding-bottom: 3rem;
  overflow: auto;
  padding-right: 3rem;
  padding-left: 3rem;
  border-radius: 1rem;
}
.seats-container{
  direction: rtl;
  width: 100%;
    padding: 0 1rem;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.expand-btn {
  position: absolute;
  top: 1px;
  left: 1px;
  /* background: #007bff; */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.map-title{
  font-size: 1.4rem;
    font-weight: 600;
}
.seat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.seat-row {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.seat {
  width: 20px;
  height: 20px;
  background-color: #66ff66; /* Available color */
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius: 4px;
}

.seat.available {
  background-color: #66ff66; /* Green */
  cursor: pointer;
}

.seat.unavailable {
  background-color: #02020284; /* Red */
  background-color: #ff6666; /* Red */
  cursor: not-allowed;
}
.seat.reserved {
  background-color: rgb(113, 108, 240) !important;
  color: white;
}

.reservation-summary {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  color: black;
}

.pay-button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.minimized-text {
  font-size: 18px;
  color: gray;
  text-align: center;
  margin-top: 20px;
}
.expanded .expand-btn{
  position: fixed;
  top: 5rem;
  left: 2rem;
}
.compact-map {
  border-radius: 1rem;
  margin: 0;
  padding: 0;
  padding-top: 2.6rem;
}
.compact .expand-btn{
  top:-2rem;
  position: relative;
  padding: 0;
}
.it-curtain-text{

  font-size: .9rem;

}
.it-curtain{
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  -webkit-filter: drop-shadow(0px 8px 10px rgba(125, 125, 125, 1));
  filter: drop-shadow(0px 8px 10px rgb(207, 207, 207));
}
@media (max-width: 800px) {
  .seats-container{
    display: flex;
  }
.seat-map.expanded {
  padding-right: .5rem;
  padding-left: .5rem;
  width: 90%;
}
}